<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/jquery/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.css">
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"></link>
        <link rel="stylesheet" href="../static/styles/login.css">
        <title>Loja</title>
    </head>
    <body>
        <div id="Logo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">
                        <img src="../static/images/store.png" style="width:100px"/>
                    </div>
                    <div class="col-11">
                        <h1 class="display-3">Loja</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="LoginBox">
            <div class="row">
                <form action="http://www.loja4.pt/login" style="width:100%" method="POST">
                    <div class="form-group">
                        <label for="username">Utilizador:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Introduza o seu nome de utilizador" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor, preencha este campo.</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Palavra-chave:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Introduza a palavra-chave" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor, preencha este campo.</div>
                    </div>
                    {% if msg!= "" %}
                    <div class="container" id="err_pwd">
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{msg}}</strong>
                        </div>
                    </div>
                    {% endif %}
                    
                    <a href="http://www.loja4.pt/mostrarrecuperarpassword">Recuperar Palavra-chave</a><br />                    
                    <button type="submit" class="btn btn-primary">Login</button>
                    
                </form>
            </div>
        </div>
    </body>
</html>