<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/jquery/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.css">
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"></link>
        <link rel="stylesheet" href="../static/styles/dashboard.css">
        <link rel="stylesheet" href="../static/styles/loading.css">
        <script src="../static/scripts/dashboard.js"></script>
        <title>Mensagem</title>
    </head>
    <body>
        <div id="Logo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">
                        <img src="../static/images/store.png" style="width:100px"/>
                    </div>
                    <div class="col-11">
                        <h1 class="display-3">Loja</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <form action="http://www.loja4.pt/" method= "GET">
            {{msg}}

            <div class="form-group">    
                <button style="position: absolute;top:50%;margin-top:-125px; left:50%;margin-left:-210px;" type="submit">Voltar
                </button>
            </div>
            
        </form>
    </body>
</html>