<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../static/jquery/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.css">
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
        <script src="../static/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.js"></script>
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"></link>
        <link rel="stylesheet" href="../static/styles/dashboard.css">
        <link rel="stylesheet" href="../static/styles/loading.css">
        <script src="../static/scripts/dashboard.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="Logo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">
                        <img src="../static/images/store.png" style="width:100px"/>
                    </div>
                    <div class="col-11">
                        <h1 class="display-3">Loja</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="LoginBox">
                <form action="http://www.loja4.pt/novapassword"  method="POST">
                    <input id="username" name="username" type="hidden" value={{username}} />
                    <div class="form-group">
                        <label for="password1">Palavra-chave:</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Introduza o nova palavra-chave" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor, preencha este campo.</div>
                    </div>
                    <div class="form-group">
                        <label for="password2">Repita a palavra-chave:</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Repita a nova palavra-chave" required>
                        <div class="valid-feedback">Válido.</div>
                        <div class="invalid-feedback">Por favor, preencha este campo.</div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <button type="submit" class="btn btn-success">Alterar</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
